body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Balsamiq Sans", cursive;
}
header,
main,
section,
footer {
  margin: 1.25rem auto;
  max-width: 480px;
}
header,
footer {
  background-color: #3b6368;
  color: #ffff;
  text-align: center;
  box-shadow: 10px 10px 50px grey;
}
header {
  padding: 1.5rem;
  display: block;
  align-items: center;
}
h1 {
  font-size: 1.3rem;
  text-shadow: 5px 5px 5px #292929;
}
h2 {
  text-shadow: 5px 5px 5px gray;
  font-size: 1rem;
}
h3 {
  background-color: #3b6368;
  color: #ffff;
  padding: 0.75rem;
}
.class1,
.class2,
.class3 {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0%;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}
img {
  width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  padding: 1rem;
}
